html, body, text {
    margin: auto;
    width: 50%;
    min-width: 250px;
    height: 50%;
    padding: 10%;
    background-color: white; 
}

h1 {
    color: black;
    font-family: "Flaco", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 2000;
    text-rendering: optimizeLegibility;
}

h2 {
    color: black;
    font-family: "Flaco", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-rendering: optimizeLegibility;
}

p {
    color: black;
    font-family: "Flaco", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 250;
    line-height: 25px;
    text-rendering: optimizeLegibility;
}

/* Your @font-face rules remain unchanged */
