body {
    margin: 0;
    padding: 0;
    font-family: 'Amazon Ember';
    src: url("chrome-extension://cgdjpilhipecahhcilnafpblkieebhea/fonts/AmazonEmber_Rg.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color change */
    overflow: hidden; /* Prevent scrolling */
    -webkit-font-smoothing: antialiased;
}

body.dark-mode {
    background-color: black;
    color: white;
}

#mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    z-index: 999; /* Ensure it's above other content */
}

.container {
    height: 100vh; /* 100% of viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    padding-top: 20px;
    text-align: justify; /* Left-align the text within the container */
    width: 450px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 18px;
    font-weight: 250;
    margin-bottom: 15px; /* Add some bottom margin for spacing */
    -webkit-font-smoothing: antialiased;
}

a {
    font-size: 18px;
    font-weight: bold;
    color: #6495ED;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

/* Additional styles for dark mode */
body.dark-mode #mode-switch::before {
    content: 'LIGHT'; /* Sun symbol in dark mode */
    color: white;
}

body:not(.dark-mode) #mode-switch::before {
    content: 'DARK'; /* Moon symbol in light mode */
    color: black;
}

body.dark-mode p a {
    color: #6495ED; /* Set the link color to white in dark mode */
}

@media screen and (max-width: 768px) {
    .inner-container {
        width: 400px; /* Set a percentage for maximum width on smaller screens */
    }

}
@media screen and (max-width: 600px) {
    .inner-container {
    width: 350px; /* Set a percentage for maximum width on smaller screens */
}
}

@media screen and (max-width: 400px) {
    .inner-container {
    width: 300px; /* Set a percentage for maximum width on smaller screens */
}
}
      
@media screen and (max-width: 300px) {
    .inner-container {
    width: 250px; /* Set a percentage for maximum width on smaller screens */
}
}